/* Add CSS Styling */
.odd {
    background-color: #FF8282;
    font-family: Verdana, "DejaVu Sans", "sans-serif";
}

.odd.odd3 {
    font-size: 24px;
}
#even1 {
    color: #0000ff;
    font-size: 36px;
}

#even2 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}