/* Add CSS Styling */
.button-1 {
    background-color: blue;
    color: white;
}

.button-2 {
    background-color: yellow;
}

.button-1, .button-2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

